*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* .top{
	max-width:100%;
	background-color:green !important;
	border-bottom:2px solid #f0f0f0;
    color: #fff;
} */

.heading{
    color: #fff;
    margin-left: 12em;
    max-width: 100%;
}
.logo{
    margin-left: 5rem;
}

